# Communicatord Service Definition
#
# This file tells the communicatord that the prinbee proxy is a local
# service and such a service is going to connect to it
#
description=The prinbee proxy service is user to connect to prinbee daemons.
